@media (min-width: 600px) {
	font-size:.8em;
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: "Open Sans Condensed", sans-serif;
	position: relative;
	top:0;
	left:0;
	overflow-x:hidden;
  }

#container {
	width: 100vw;
	height:96vh;
	/*background-image: url("images/antique-tree-life-tabriz-rug.jpg"); */
	background-image: url("images/scramble2.jpg");
	background-size:cover;
	position: absolute;
	top:0;
	left:0;
	margin:0;
	padding: 2vh 0vw;
	z-index: -1;
}

.english {
/* 	background-color: green; */
	background-image: url("images/scramble-left.jpg");
	font-family: '#', sans-serif;
	position: absolute;
	margin-left: 50px;
	padding:10px;
	width:300px;
	height:500px;
	display: block;
	color: 0;
}

#english-title {
	font-size: 30pt;
/*	display:none;*/
	z-index: 99999;

}

/*.nowruz-info, .haftseen-info {
	display: none;
}

.english-title:hover, .nowruz-info:hover, .haftseen-info:hover < #english-title {
	display:block;
}*/

.farsi {
	background-image: url("images/nowruz-title2.png");
	position: absolute;
	padding-top: 10px;
	padding-bottom:10px;
	display: block;
	text-align:right;
	right: 50px;
	width: 200px;
	height:500px;

}

#haft-seen {
	width:60%;
	height:90vh;
	position: absolute;
	margin-left: 300px;
	float:left;
	z-index: 1;
	text-align:center;
	top:1vh;
}

.haft-seen-item {
/*	display: hidden;*/
/*	background-color: white;*/
	background-image: url("images/scramble-left.jpg");
	display:inline-block;
	height: 150px;
	width:150px;
	margin-top: 10px;
	padding:35px;

}

#kehtab {
	animation: flashHafiz 3s;


}
/*on hover animate from one image to next
/*JS - on click give info*/
/*in JS give a class only for js to hold animation, target class, class list add class*/
/*classlist.add*/
/*if mouse enter add class list, else class empty " " */
@keyframes flashHafiz {
  0% {
    background-image: url("images/binaryCode.png");
    transform: scale(5);
  }
  60% {
    background-image: url("images/hafiz.png");
/*    transform: scale(7);
*/  }
  100% {
    background-image: url("images/binaryCode.png");
    transform: scale(9);
  }
}

#kehtab:hover {
/*	animation: flashHafiz 3s;
*/	animation-delay: 1s;
/*	animation-iteration-count: 2;
	animation-play-state: playing;*/
}
